/*

Breakpoints

0 - 600px:       Phone (max-width)
600 - 900px:     Tablet Portrait Mode (max-width)
900 - 1200px:    Tablet Landscape Mode (max-width)
[1200 - 1800px]  Normal Styles Apply
1800px+ :        Big Desktops (min-width)

Breakpoint Argument Choices:
- phone
- tablet-portrait
- tablet-landscape
- big-desktop

//Note: ORDER of Operations for Media Queries:
   1. BASE + TYPOGRAPHY >
   2. GENERAL LAYOUT + GRID >
   3. PAGE LAYOUT >
   4. COMPONENTS

 */
/*
@mixin respond($breakpoint) {
  @if $breakpoint == $phone {
    @media (max-width: ($breakpoint/$base-pixels)*1em) { // 600px
      @content
    };
  }
  @if $breakpoint == $tab-port {
    @media (max-width: 56.25em) { // 900px
      @content
    };
  }
  @if $breakpoint == $tab-land {
    @media (max-width: 75em) { // 1200px
      @content
    };
  }
  @if $breakpoint == $big-desktop {
    @media (min-width: 112.5em) { // 1800px
      @content
    };
  }
}
*/
:root {
  --ff-1: "Aeonik", sans-serif;
  --ff-2: "Roobert", sans-serif;
  --ff-3: "Made Outer Sans", sans-serif;
  --primary-brand: #F08B7C;
  --primary-black: #190708;
  --primary-white: #FEFEFF;
  --fc-titles-subs-modals: #190708;
  --fc-pre-title: #979797;
  --fc-body-paragraphs: #2D1416;
  --fc-text-links: #2664CB;
  --fc-old-prices: #c4c4c4;
  --btn-primary-fill: rgba(25, 7, 8, 1);
  --btn-primary-text-icons: var(--primary-white);
  --btn-second-fill: rgba(243, 243, 243, 0.7);
  --btn-second-txts-icons-outlines: rgba(126, 123, 123, 1);
  --btn-tertiary-txt-icons: rgba(126, 123, 123, 1);
  --btn-destructive-fill: var(--primary-white);
  --btn-destructive-txt-icon-outline: rgba(254, 72, 80, 1);
  --btn-disabled-txt-icon: rgba(205, 209, 215, 1);
  --btn-disabled-fill: rgba(249, 250, 251, 1);
  --content-main: #F9FAFB;
  --content-banners: #EEE8E1;
  --content-within-content: #DADADA;
  --badge-top-saved-fill: #FEF3C7;
  --badge-top-saved-txt: #D97706;
  --badge-earn-fill: #CCFBF1;
  --badge-earn-txt: #0D9488;
  --badge-exclusive-fill: #DBEAFE;
  --badge-exclusive-txt: #5048E5;
  --badge-timer-fill: #FFE4E6;
  --badge-timer-txt: #E11D48;
  --forms-placeholder-text: #C4C4C4;
  --pad-section: 2rem 4rem;
  --pad-section-sml: 2rem 2.5rem;
  --pad-btn-reg: 1rem 2rem;
  --pad-btn-sm: .5rem 1rem;
  --pad-filter: 8px 8px;
  --pad-badge: .5px 8px;
  --rad-std: 4px;
  --fw-air: 100;
  --fw-x-light: 200;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-strong: 500;
  --fw-bold: 600;
  --ls-titles: 0;
  --ls-standard: -2%;
  --ls-secondary-labels: -3%;
  --fs-merchant-title-reg: 3rem;
  --fs-merchant-title-small: 2rem;
  --fs-sub-title-modal: 3rem;
  --fs-content-title: 2rem;
  --fs-secondary-labels: 1.5rem;
  --fs-tertiary-pre-title: 1.25rem;
  --fs-body-paragraphs-regular: 2rem;
  --fs-body-paragraph-small: 1.75rem;
  --fs-body-paragraphs-tiny: 1.5rem;
  --fs-nav-active-inactive: 1.75rem;
  --fs-product-filters: 1.75rem;
  --fs-badges: 1.5rem;
  --fs-breadcrumbs: 1.375rem;
  --fs-btn-reg: 2rem;
  --fs-btn-sm: 1.75rem;
  --lh-body-paragraphs: 150%;
  --shad-btn: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
}

/*------------------*/
/* KP Global Reset  */
/*------------------*/
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 50%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 62.5%;
  }
}

/* Reset Margins */
* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Reset font weights*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Setup the body */
body {
  line-height: 1.6;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  width: 100%;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for those that turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Fixes that stupid hidden issue where it wasn't showing on the <picture> elements */
[hidden] {
  display: none !important;
}

/* Screen Reader Utility Class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/*------------------*/
/* End Global Reset */
/*------------------*/
main {
  position: relative;
}

body {
  font-family: var(--ff-1);
  background-color: white;
  color: var(--primary-black);
  overflow-x: hidden;
}

::selection {
  background-color: black;
  color: #fff;
}

/* Animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@font-face {
  font-family: "Aeonik", sans-serif;
}
.u-heading-4, .u-heading-3, .u-heading-2, .u-heading-1 {
  font-family: "Aeonik", sans-serif;
  font-weight: 400;
}

.u-heading-1 {
  font-size: 4.5rem;
  color: #f7f7f7;
  line-height: 1;
}

.u-heading-2 {
  font-size: 4rem;
  font-style: italic;
}
.u-heading-2--light {
  color: #f7f7f7;
}
.u-heading-2--dark {
  color: #777;
}

.u-heading-3 {
  font-size: 1.6rem;
  color: #7ed56f;
  text-transform: uppercase;
}

.u-heading-4 {
  font-size: 1.9rem;
}
.u-heading-4--light {
  color: #f7f7f7;
}
.u-heading-4--dark {
  color: #777;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-tiny {
  margin-top: 1rem !important;
}

.u-margin-top-sm {
  margin-top: 2rem !important;
}

.u-margin-top-md {
  margin-top: 3rem !important;
}

.u-margin-top-lg {
  margin-top: 4rem !important;
}

.u-margin-top-hg {
  margin-top: 8rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-hg {
  margin-bottom: 8rem !important;
}

.u-grid-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  padding: 0 clamp(2rem, 15%, 9rem);
}

.u-grid-2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
}

.u-flex-row {
  display: flex;
  justify-content: space-between;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
}

.u-list {
  text-decoration: none;
  list-style: none;
}
.u-list__item {
  font-size: 1.5rem;
  letter-spacing: var(--ls-standard);
}

.u-list--card {
  text-decoration: none;
  list-style: inside;
}

.u-subs-modals {
  font-family: var(--font2);
  font-weight: var(--fw-reg);
  font-size: var(--fs-sub-title-modal);
  color: var(--fc-titles-subs-modals);
}

.u-content-title {
  font-family: var(--ff-1);
  font-weight: var(--fw-strong);
  font-size: var(--fs-content-title);
  color: var(--fc-titles-subs-modals);
}

.u-tertiary-title {
  font-family: var(--ff-1);
  font-weight: var(--fw-reg);
  font-size: var(--fs-tertiary-pre-title);
  color: var(--tertiary);
}

.u-pre-title {
  font-family: var(--ff-1);
  font-weight: var(--fw-bold);
  font-size: var(--fs-tertiary-pre-title);
  color: var(--tertiary);
  text-transform: uppercase;
}

.u-body-paragraphs {
  font-family: var(--ff-1);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body-paragraphs-regular);
  color: var(--fc-body-paragraphs);
  letter-spacing: var(--ls-standard);
  line-height: var(--lh-body-paragraphs);
}

.u-text-links {
  font-family: inherit;
  font-weight: var(--fw-reg);
  font-size: inherit;
  color: var(--fc-text-links);
}

.u-btn {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.u-btn--reg {
  font-size: var(--fs-btn-reg);
  padding: var(--pad-btn-reg);
  border: 1px solid transparent;
}
.u-btn--sm {
  display: flex;
  cursor: pointer;
  font-size: var(--fs-btn-sm);
  padding: var(--pad-btn-sm);
  border: 1px solid transparent;
}
.u-btn__icon--reg {
  height: 2.5rem;
  width: 2.5rem;
}
.u-btn__icon--sm {
  height: 2rem;
  width: 2rem;
}

.u-btn__primary {
  background-color: var(--btn-primary-fill);
  color: var(--btn-primary-text-icons);
  border-radius: var(--rad-std);
  font-weight: var(--fw-strong);
  box-shadow: var(--shad-btn);
}
.u-btn__primary:hover {
  border: 1px solid var(--primary-white);
}

.u-btn__secondary {
  background-color: var(--btn-second-fill-fill);
  border-radius: var(--rad-std);
  color: var(--btn-second-txts-icons-outlines);
  font-weight: var(--fw-strong);
  box-shadow: var(--shad-btn);
  border: 1px solid var(--btn-second-txts-icons-outlines);
}
.u-btn__secondary:hover {
  border: 1px solid var(--primary-black);
}

.u-btn__tertiary {
  background-color: transparent;
  color: var(--btn-tertiary-txt-icons);
  font-weight: var(--fw-strong);
}
.u-btn__tertiary:hover {
  color: var(--fc-text-links);
}

.u-btn__destructive {
  background-color: var(--btn-destructive-fill);
  border-radius: var(--rad-std);
  color: var(--btn-destructive-txt-icon-outline);
  font-weight: var(--fw-strong);
  box-shadow: var(--shad-btn);
  border: 1px solid var(--btn-destructive-txt-icon-outline);
}
.u-btn__destructive:hover {
  background-color: var(--btn-destructive-txt-icon-outline);
  color: var(--btn-destructive-fill);
}

.u-btn__disabled {
  background-color: var(--btn-disabled-fill);
  border-radius: var(--rad-std);
  color: var(--btn-disabled-txt-icon);
  font-weight: var(--fw-strong);
  box-shadow: var(--shad-btn);
  border: 1px solid transparent;
}
.u-btn__disabled:hover {
  border: 1px solid var(--btn-disabled-txt-icon);
}

.u-badge-exclusive {
  background-color: var(--badge-exclusive-fill);
  color: var(--badge-exclusive-txt);
  font-size: var(--fs-badges);
  padding: var(--pad-badge);
}

.title {
  color: var(--primary-black);
  font-family: var(--ff-3);
  font-weight: var(--fw-light);
  font-size: 2rem;
  justify-content: start;
  padding: var(--pad-section);
  padding-block: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .title {
    padding: var(--pad-section-sml);
  }
}

.categories {
  font-weight: 400;
  font-size: 3rem;
  color: var(--primary-white);
  padding: 4rem;
}
.categories__list {
  gap: 2rem;
}

.color__code--dark {
  font-family: var(--ff-pre-title);
  font-size: 2rem;
  color: var(--primary-black);
}
.color__code--light {
  font-family: var(--ff-pre-title);
  font-size: 2rem;
  color: var(--primary-white);
}
.color__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 200px;
}
.color__box--1 {
  background-color: var(--primary-brand);
  background-size: cover;
}
.color__box--2 {
  background-color: var(--fc-titles-subs-modals);
  background-size: cover;
}
.color__box--3 {
  background-color: var(--primary-white);
  background-size: cover;
  border: 1px solid var(--primary-black);
}
.color__box--4 {
  background-color: var(--fc-titles-subs-modals);
  background-size: cover;
}
.color__box--5 {
  background-color: var(--fc-pre-title);
  background-size: cover;
}
.color__box--6 {
  background-color: var(--fc-body-paragraphs);
  background-size: cover;
}
.color__box--7 {
  background-color: var(--btn-primary-fill);
  background-size: cover;
}
.color__box--8 {
  background-color: var(--btn-primary-text-icons);
  background-size: cover;
  border: 1px solid var(--primary-black);
}
.color__box--9 {
  background-color: var(--btn-second-fill);
  background-size: cover;
  border: 1px solid var(--primary-black);
}
.color__box--10 {
  background-color: var(--btn-second-txts-icons-outlines);
  background-size: cover;
}

/* Primary */
.btn {
  justify-self: center;
  align-self: center;
  font-weight: var(--fw-strong);
  padding: 1rem 2rem;
}
.btn__primary {
  border-radius: var(--rad-std);
  background-color: var(--btn-primary-fill);
  color: var(--btn-primary-text-icons);
}
.btn__primary--reg {
  font-size: var(--fs-btn-reg);
}
.btn__primary--small {
  font-size: var(--fs-btn-sm);
}
.btn__secondary {
  border-radius: var(--rad-std);
  background-color: var(--btn-second-fill);
  color: var(--btn-second-txts-icons-outlines);
  border: 1px solid var(--btn-second-txts-icons-outlines);
}
.btn__secondary--reg {
  font-size: var(--fs-btn-reg);
}
.btn__secondary--small {
  font-size: var(--fs-btn-sm);
}

.nav {
  color: var(--primary-black);
  font-size: 4rem;
  padding: var(--pad-section);
  overflow-x: auto;
}
@media only screen and (max-width: 37.5em) {
  .nav {
    margin-block: 0;
    font-size: 3rem;
    padding: var(--pad-section-sml);
  }
}
.nav::-webkit-scrollbar {
  display: none;
}
.nav__list {
  white-space: nowrap;
  font-family: var(--ff-2);
  justify-content: start;
  font-weight: var(--fw-light);
  list-style: none;
  gap: 4rem;
  text-decoration: none;
}
.nav__active {
  font-weight: var(--fw-bold);
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: var(--primary-black);
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:focus {
  font-weight: 400;
}

hr {
  margin: 0 4rem;
}
@media only screen and (max-width: 37.5em) {
  hr {
    margin: 0 2rem;
  }
}

.content {
  margin-top: 2rem;
  border-radius: 3px;
  display: grid;
  gap: 2rem;
  padding: var(--pad-section);
  position: relative;
  margin-bottom: 70rem;
}
@media only screen and (max-width: 37.5em) {
  .content {
    padding: var(--pad-section-sml);
    gap: 2rem;
  }
}
.content__note {
  display: flex;
  font-size: var(--fs-sub-title-modal);
  justify-items: start;
  align-items: start;
  width: fit-content;
  gap: 2rem;
}
.content__row-title {
  font-weight: 300;
  font-size: 4rem;
  color: var(--fc-titles-subs-modals);
}
@media only screen and (max-width: 37.5em) {
  .content__row-title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .content__row-title:nth-child(1) {
    margin-top: 10rem;
  }
}
.content__group {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 56.25em) {
  .content__group {
    flex-wrap: initial;
    overflow-x: auto;
    width: 100%;
    gap: 1rem;
  }
}
.content__group::-webkit-scrollbar {
  display: none;
}
.content__card {
  display: flex;
  flex-direction: column;
  border-radius: var(--rad-std);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-size: 2rem;
  width: min-content;
  padding: var(--pad-section);
  padding-bottom: 4rem;
  margin: 0.5rem 0.5rem 3rem 0.5rem;
  background-color: var(--content-main);
}
@media only screen and (max-width: 37.5em) {
  .content__card {
    padding: var(--pad-section-sml);
    font-size: 1.5rem;
  }
}
.content__card-title {
  font-weight: var(--fw-strong);
  color: var(--fc-titles-subs-modals);
}
@media only screen and (max-width: 37.5em) {
  .content__card-title {
    font-size: 2.5rem;
  }
}
.content__card-container {
  position: relative;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: var(--pad-section);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.content__card-instructions {
  display: inline-block;
  margin-top: 2rem;
  color: var(--fc-titles-subs-modals);
  font-size: var(--fs-content-title);
  font-weight: var(--fw-strong);
  margin-bottom: 0.5rem;
}

.vert-nav {
  list-style: none;
  width: fit-content;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  right: 4rem;
  top: 2rem;
  background-color: var(--primary-white);
  font-size: var(--fs-tertiary-pre-title);
  color: var(--fc-body-paragraphs);
  border-left: 1px solid var(--primary-black);
  z-index: 20;
}
@media only screen and (max-width: 75em) {
  .vert-nav {
    white-space: nowrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 2rem 1rem 3rem 2rem;
    gap: 3.5rem;
    overflow-x: auto;
    top: 0;
  }
}
.vert-nav::-webkit-scrollbar {
  display: none;
}
.vert-nav__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 4rem;
}
@media only screen and (max-width: 75em) {
  .vert-nav__container {
    position: absolute;
    align-items: flex-start;
    left: 1rem;
    width: 100%;
  }
}
.vert-nav__link:link, .vert-nav__link:visited {
  text-decoration: none;
  color: var(--primary-black);
  transition: all 0.2s;
}
.vert-nav__link:hover, .vert-nav__link:focus {
  font-weight: var(--fw-strong);
}

/*# sourceMappingURL=main.css.map */
